[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
passlib = "*"
pyjwt = "*"
flask-crontab = "*"
requests = "*"
flask-apscheduler = "*"
flask-http-middleware = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
